<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glancebar.mybatisdemo.CarMapper">
    <select id="search" resultType="com.glancebar.mybatisdemo.Car">
        select * from car
        <where>
            <if test="id != 0 and id != null">
                id = #{id}
            </if>
            <if test="make != null">
                and make = #{make}
            </if>
            <if test="model != null">
                and model = #{model}
            </if>
        </where>
    </select>
</mapper>