<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glancebar.mybatis.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.glancebar.mybatis.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="user_comment" jdbcType="VARCHAR" property="userComment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="active" jdbcType="TINYINT" property="active"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
    </resultMap>


    <insert id="insert" parameterType="com.glancebar.mybatis.entity.User">
        insert into user (avatar, username, nickname, gender, birthday, user_comment, deleted, active, create_time,
                          update_time)
        values (#{avatar}, #{username}, #{nickname}, #{gender}, #{birthday}, #{userComment}, #{deleted},
                #{active}, #{createTime}, #{updateTime})
    </insert>

    <select id="findAllByQuery" resultMap="BaseResultMap">
        select *
        from user
        where active = #{active}
        <if test="query != null and query != ''">and username like concat(#{param1}, '%')</if>
        and deleted = #{deleted} limit #{offset}, #{size}
    </select>

    <select id="countAllByQuery" resultType="long">
        select count(*)
        from user
        where active = #{active}
        <if test="query != null and query != ''">and username like concat(#{param1}, '%')</if>
        and deleted = #{deleted}
    </select>

    <update id="updateUserById" parameterType="com.glancebar.mybatis.entity.User">
        update user
        set username     = #{username},
            nickname     = #{nickname},
            gender       = #{gender},
            birthday     = #{birthday},
            avatar       = #{avatar},
            user_comment = #{userComment}
        where id = #{id}
    </update>
</mapper>